<div class="right__content_block">
    <div class="right__content_write">
        <img src="public/ava-right.png" alt="ava">
        <input type="text" placeholder="Write something ..." class="write__something">
        <div class="write__btn">
            <img src="public/write-search.svg" alt="search">
        </div>
        <div class="write__btn">
            <img src="public/write-clip.svg" alt="clip">
        </div>
    </div>
    <div class="right__content_write_footer">
        <div class="write__footer_left">
            <div class="anonym__checkbox"></div>
            <div class="write__footer_left_text">
                Anonymously
            </div>
            <div class="write__footer_drop">
                <div class="write__footer_left_text">
                    Who can see
                </div>
                <img src="public/write-drop-polygon.svg" alt="write">
            </div>
            <div class="write__footer_drop">
                <div class="write__footer_left_text">
                    Channel
                </div>
                <img src="public/write-drop-polygon.svg" alt="write">
            </div>
            <img src="public/location.svg" alt="location">
        </div>
        <div class="telegram__btn">
            <img src="public/telegram.svg" alt="telegram">
        </div>
    </div>

</div>