@import './styles/main.scss';
@import './styles/normalise.scss';

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }

  @media (min-width: 768px) {
    .announcement,
    .calendar {
      width: 100%;
    }
  
    .messages,
    .courses {
      width: 50%;
    }
  }